DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.exe
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.pdb
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.vshost.exe.manifest
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(10380).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(1840).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(6204).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(6844).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(7032).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(7148).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(9180).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(9684).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.ZGH-PC(9736).trace.txt
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Contract.dll
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Contract.pdb
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.exe
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.pdb
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.vshost.exe.manifest
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Contract.dll
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Contract.pdb
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.exe
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.pdb
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Client.vshost.exe.manifest
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Contract.dll
DistributeCalculate.Client/bin/Debug/DistributeCalculate.Contract.pdb
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(10300).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(10332).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(11088).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(11576).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(1896).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(5684).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(8940).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(8948).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(9244).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(9844).trace.txt
DistributeCalculate.Server/bin/Debug/DistributeCalculate.Server.ZGH-PC(9960).trace.txt
DistributeCalculate.Server/obj/Debug/HostStepViews/ServiceOpen.g.i.cs
DistributeCalculate.Client/obj/Debug/ClientStepViews/ClientJoinInWindow.g.i.cs
DistributeCalculate.Server/obj/Debug/ServerStepViews/ServerOpen.g.i.cs
DistributeCalculate.Server/obj/Debug/ServerStepViews/ServerOpenWindow.g.i.cs
DistributeCalculate.Server/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
DistributeCalculate.v12.suo
